/*common*/
body {
  overflow-x: hidden;
}
.bottom-h {
  width: 100%;
  height: 80px;
}
.ww {
  margin: 0 auto;
  width: 1200px;
}
/*top*/
.public-top {
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  height: 60px;
  background: #222;
  background: rgba(0, 0, 0, 0.4);
}
.public-top .pu {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 101;
}
.public-top:hover {
  background: #222;
}
.public-top .ww {
  height: 60px;
  position: relative;
  z-index: 105;
}
.public-top .logo {
  left: 20px;
  top: 10px;
  position: absolute;
}
.public-top .top-ul {
  float: right;
  height: 60px;
  padding-right: 30px;
  /*2*/
}
.public-top .top-ul .list-1 {
  width: 100px;
  text-align: center;
  float: left;
  cursor: pointer;
  height: 60px;
  position: relative;
  line-height: 60px;
}
.public-top .top-ul .list-1 a {
  color: inherit;
  text-decoration: none;
}
.public-top .top-ul .list-1 .span-1 {
  font-size: 14px;
  color: #fff;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.public-top .top-ul .list-1 .bottom-string {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #dd3429;
  display: none;
}
.public-top .top-ul .list-1 .h-box {
  position: absolute;
  top: 60px;
  width: 10000px;
  left: -2000px;
  height: 450px;
  padding-bottom: 40px;
  z-index: 999;
  background: #312f2e;
  display: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.public-top .top-ul .list-1 .h-box p {
  position: absolute;
  text-align: center;
  left: 1759px;
  color: #fff;
  bottom: 0;
  font-size: 18px;
  font-weight: bold;
}
.public-top .top-ul .list-1 .ul-2 {
  display: none;
  position: absolute;
  z-index: 10000;
  height: 135px;
  width: 600px;
}
.public-top .top-ul .list-1 .ul-2 .list-2 {
  float: left;
  padding-top: 17px;
  width: 240px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "Microsoft Yahei";
}
.public-top .top-ul .list-1 .ul-2#about-ul .list-2 {
  width: 140px;
}
.public-top .top-ul .list-1:hover .span-1 {
  color: #eb4b24;
}
.public-top .top-ul .list-1:hover .h-box,
.public-top .top-ul .list-1:hover .ul-2 {
  display: block;
}
.public-top .top-ul .list-1.on .bottom-string {
  display: block;
}
.public-top .top-ul .list-1.on .span-1 {
  color: #eb4b24;
}
.public-top .top-ul .span-2 {
  font-size: 14px;
  color: #fff;
  font-weight: 800;
  font-family: "Microsoft Yahei";
  margin-left: 20px;
}
.public-top .top-ul .span-2 > a:hover {
  color: #eb4b24;
}
.public-top .top-ul .ul-3 {
  margin-left: 20px;
}
.public-top .top-ul .ul-3 .list-3 {
  line-height: 36px;
}
.public-top .top-ul .ul-3 .list-3 a {
  font-size: 12px;
  text-decoration: none;
  color: #dadada;
}
.public-top .top-ul .ul-3 .list-3 a:hover {
  /* color: #fff;
            text-shadow: 2px 1px 5px #fff;*/
  color: #eb4b24;
}
/*top end*/
.rx-footer {
  width: 100%;
  height: 368px;
  background: #2b2b2b;
  /*table*/
  /**/
}
.rx-footer .top {
  width: 100%;
  height: 100px;
}
.rx-footer .top .logs {
  float: left;
  margin-left: 80px;
  margin-top: 60px;
}
.rx-footer .m {
  width: 100%;
  height: 180px;
}
.rx-footer .f-left {
  width: 600px;
  height: 200px;
  float: left;
  margin-left: 84px;
}
.rx-footer .f-left .to {
  width: 100%;
  height: 56px;
  line-height: 56px;
}
.rx-footer .f-left .to .t {
  display: inline;
  margin-right: 50px;
  height: 56px;
  line-height: 56px;
  float: left;
}
.rx-footer .f-left .to .t a {
  color: #fff;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.rx-footer .f-left .dd {
  text-align: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.rx-footer .f-right {
  width: 200px;
  height: 200px;
  float: left;
}
.rx-footer table {
  width: 600px;
  float: left;
  margin-left: 80px;
}
.rx-footer table td {
  text-align: left;
}
.rx-footer table thead tr {
  height: 50px;
}
.rx-footer table thead tr td {
  height: 56px;
  line-height: 50px;
}
.rx-footer table thead tr td a {
  color: #fff;
  font-size: 14px;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.rx-footer table tbody tr {
  height: 30px;
}
.rx-footer table tbody tr td {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.rx-footer .erwei {
  float: left;
  margin-top: 15px;
}
/*��Ʒҳ�˵�*/
.product-menue {
  width: 250px;
  background: #fff;
  position: absolute;
  z-index: 1000;
  top: 80px;
}
.product-menue .title {
  padding: 0 15px;
  height: 64px;
  line-height: 65px;
  font-family: simhei;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #ddd;
}
.product-menue .ul-1 {
  padding: 14px;
  padding-top: 0;
}
.product-menue .ul-2 {
  display: none;
  padding-left: 20px;
}
.product-menue .span-1,
.product-menue .span-2 {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.product-menue .list-1 {
  line-height: 45px;
  border-bottom: 1px solid #ddd;
}
.product-menue .list-1 .guai {
  width: 12px;
  height: 12px;
  float: right;
  margin-top: 14px;
  background: url("../img/guai_06.png") no-repeat;
}
.product-menue .list-1.on .ul-2 {
  display: block;
}
.product-menue .list-1.on .guai {
  background: url("../img/guai_03.png") no-repeat;
}
.product-menue .list-2.ac .span-2 {
  color: #dd3429;
}
/*�˵�end*/
.b-title {
  height: 76px;
  line-height: 76px;
  font-size: 36px;
  font-family: simhei;
  color: #000;
}
.b-title-s {
  font-size: 20px;
  color: #000;
  height: 50px;
  line-height: 50px;
  font-family: "Microsoft Yahei";
}
.b-p {
  font-size: 14px;
  line-height: 30px;
  text-indent: 15px;
  color: #333;
  font-family: "microsoft yahei";
}
.b-p-top {
  font-size: 16px;
  text-indent: 0;
  line-height: 30px;
  padding-top: 40px;
  color: #333;
  font-family: "microsoft yahei";
}
.grey-shadow {
  border: 1px solid #ddd;
  box-shadow: 0  0 15px 0px #ddd;
}
/*page*/
/*ҳ������css*/
.tcdPageCode {
  padding: 15px 20px;
  text-align: left;
  color: #ccc;
  display: inline;
}
.tcdPageCode a {
  color: #999;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 44px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 2px;
  vertical-align: middle;
}
.tcdPageCode span.current {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 44px;
  text-align: center;
  margin: 0 2px;
  color: #fff;
  background-color: #FC6621;
  border: 1px solid #FC6621;
  vertical-align: middle;
}
.tcdPageCode a.prevPage,
.tcdPageCode a.nextPage {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 102px;
  text-align: center;
  margin: 0 2px;
  color: #999;
}
.tcdPageCode span.disabled {
  display: none;
  height: 44px;
  line-height: 44px;
  width: 102px;
  text-align: center;
  margin: 0 2px;
  color: #fff;
  background: #FC6621;
  border: 1px solid #FC6621;
}
/*ҳ������css*/
.gong-table {
  padding: 20px;
}
.gong-table ul {
  float: left;
  width: 230px;
  padding: 0 30px;
  min-height: 400px;
}
.gong-table ul li {
  text-align: center;
}
.gong-table ul li .img-g {
  width: 160px;
  height: 130px;
  display: inline-block;
}
.gong-table ul li.zi {
  color: #2978dd;
  line-height: 24px;
  padding: 20px 0 10px 0;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
  font-size: 16px;
  font-weight: 800;
}
.gong-table ul li p {
  margin: 0 auto;
  font-size: 14px;
  color: #666;
  line-height: 28px;
  text-align: justify;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
}
.gong-table.hang3 {
  padding-left: 40px;
}
.gong-table.hang3 ul {
  width: 290px;
  padding: 0 45px;
}
/**/
.gong-table-1 {
  margin-top: 50px;
}
.gong-table-1 .box {
  margin-top: 30px;
  min-height: 400px;
  width: 520px;
  float: left;
  padding: 0 40px;
}
.gong-table-1 .box .left {
  float: left;
  height: 400px;
}
.gong-table-1 .box .left img {
  margin: 0 10px;
}
.gong-table-1 .box .right .name {
  line-height: 46px;
  color: #2aba7a;
  font-size: 20px;
}
.gong-table-1 .box .right .b-p {
  color: #666;
}
.gong-table-3 tr td.left {
  padding-right: 20px;
  vertical-align: top;
}
.gong-table-3 tr td.right {
  padding: 0 20px 40px 20px;
}
.gong-table-3 tr td .zi {
  font-size: 20px;
  color: #1cb78b;
  line-height: 30px;
}
.gong-table-3 tr td p.p-s {
  padding-top: 20px;
  font-weight: 800;
  font-size: 14px;
  color: #000;
}
.gong-table-3 tr td p.p-s .span-s {
  color: #666;
}
.gong-table-3 tr td p.p-3 {
  position: relative;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  width: 600px;
  padding-left: 20px;
}
.gong-table-3 tr td p.p-3 img {
  position: absolute;
  left: 0px;
  top: 10px;
}
.gong-table-3 tr td p.p-3 .span-s {
  color: #000;
  font-weight: 800;
}
.gong-ul {
  padding: 20px;
}
.gong-ul li {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.gong-ul .title-s {
  padding-top: 60px;
  font-size: 20px;
  font-weight: 800;
  font-family: "Microsoft Yahei";
  color: #8f631f;
  padding-bottom: 10px;
}
.gong-ul .c-box {
  width: 574px;
  height: 300px;
  float: left;
}
.gong-ul .c-box .b-p {
  line-height: 28px;
  text-indent: 0;
}
.gong-ul .img-r {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 434px;
  height: 236px;
  overflow: hidden;
}
.gong-ul .d-box {
  width: 33.333%;
  height: 300px;
  float: left;
  text-align: center;
}
.gong-ul .d-box img {
  padding-top: 20px;
}
.gong-ul .d-box p {
  font-size: 14px;
  color: #333;
  padding-top: 5px;
}
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px 20px 20px 20px;
  z-index: 1000;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.mask .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.mask .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.mask .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
}
